
<div id="component" class="container-fluid py-3">
    <div class="pe-1 bg-white rounded-2 border border-1 border-success-subtle row align-items-center">
        <div class="bg-light border border-end border-light col-2 d-flex">
            <p class="text-success-subtle fs-6 fw-normal font-family-Inter col-5 m-0 px-3 py-2">@</p>
        </div>
        <p class="text-success-subtle fs-6 fw-normal font-family-Inter col-8 m-0 px-3 py-2">Username</p>
        <div class="px-3 py-1 col-1 justify-content-center align-items-center d-flex">
            <select class="form-select">
                <option selected>Option 1</option>
                <option value="1">Option 2</option>
                <option value="2">Option 3</option>
            </select>
        </div>
        <div class="px-3 py-1 col-1 justify-content-center align-items-center d-flex">
            <select class="form-select">
                <option selected>Choice 1</option>
                <option value="1">Choice 2</option>
                <option value="2">Choice 3</option>
            </select>
        </div>
    </div>
</div>
