.no-reviews-message {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5), /* Cor do degradê */
      rgba(0, 0, 0, 0.5) /* Cor do degradê */
    ),
    url('https://s1.1zoom.me/big0/235/Wolves_White_Glance_495143.jpg'); /* Substitua pelo URL da imagem desejada */
    background-size: cover;
    background-position: center;
    color: #fff; /* Ajuste a cor do texto para se destacar sobre o fundo */
    margin: 20px;
  }
  
  .no-reviews-message h2 {
    color: #fff;
  }
  
  .no-reviews-message p {
    font-size: 16px;
    color: #fff;
  }
  
  .no-reviews-message strong {
    color: #00bfff; /* Cor destacada para o texto em negrito */
  }
  